<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="./img/icon.png"/>

    <title>Excluir</title>
</head>
<nav>
    <article>
        <a href="/"><img src="/img/icon.png" width="50" height="50"></a>
    </article>
    
    <article>
        <a href="/">Home</a>
        <a href="/cadastrar">Cadastro</a>        
    </article>
</nav>

<h1>Deseja realmente excluir <%=carros.marca%> <%=carros.nome%>??</h1>

<div id="botoes">
    <div>
        <form action="/deletar/<%=carros.id %>" method="POST"> 
            <button type="submit">Excluir</button>
        </form>
    </div>
    <div>
        <button> <a href="/detalhes/<%=carros.id%>">Voltar</a> </button>
    </div>



</div>
<body>
    
</body>
</html>